* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: gray;
  font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
}
.row {
  display: flex;
  margin-top: 20px;
}
.logo {
  height: auto;
  width: 100px;
  float: 0;
}
.main-nav {
  margin-top: 30px;
  list-style: none;
  display: flex;
  flex: 1;
}
.main-nav li {
  text-decoration: none;
  text-transform: uppercase;
}

.main-nav li a:link,
.main-nav li a:visited {
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-size: 90%;
}
